* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family-sans);
  /* height: 10000px; */
  background-color: #f6f8fa;
}

:root {
  --clr-primary-1: #bb2019;
  --clr-primary-2: #e1e4e8;
  --clr-primary-3: #f8d7da;
}

.menu-user {
  display: none;
  position: absolute;
  box-shadow: 0 2px 4px rgba(34, 25, 25, 0.4);
  border-radius: 0;
  z-index: 100;
  top: 35px;
  left: 315px;
  width: 150px;
  height: auto;
  background-color: #fff;
  font-size: 0.8rem;
  border-radius: 2px;
}
.createUserBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.createUserBody form {
  background-color: lightblue;
  padding: 30px 60px;
  border-radius: 10px;
}
.createUserBody button {
  margin: 10px 0px;
}
.createUseTitle {
  font-size: 2rem;
  color: var(--clr-primary-1);
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .menu-user.active {
    top: 33px;
    left: 115px;
  }
}
