* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family-sans);
  /* height: 10000px; */
  background-color: #f6f8fa;
}

:root {
  --clr-primary-1: #bb2019;
}

.profile-body {
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 20px;
}

.profile-nav {
  background-color: #fff;
}

.profile-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.profile-ava {
  max-width: 100px;
  margin-bottom: 16px;
}

.profile-nav img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-edit {
  background-color: #f6f8fa;
  border: 1px solid #999;
  padding: 5px 40px;
}

.profile-edit:hover {
  cursor: pointer;
  background-color: #fff;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 2rem;
}
.profile-info li {
  padding-bottom: 10px;
}
.icon {
  color: var(--clr-primary-1);
  padding-right: 5px;
}

.profile-main {
  background-color: #fff;
  margin: 20px 10px;
  padding-left: 1.2rem;
}
.main-navigation {
  padding-top: 1rem;
  border-bottom: 1px solid #999;
}
.main-navigation ul {
  display: flex;
  align-items: flex-start;
}
.main-navigation ul li {
  border: 1px solid #999;
  border-bottom: none;
  border-radius: 2px;
  padding: 5px 15px;
}
.main-navigation ul li:hover {
  cursor: pointer;
  background-color: #f6f8fa;
}
.main-navigation ul li.active {
  background-color: #f6f8fa;
  color: var(--clr-primary-1);
}
.main-navigation ul li.active .icon {
  color: var(--clr-primary-1);
}
.main-navigation .icon {
  color: #999;
}
.list-title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 20px 0px;
}

