* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family-sans);
  /* height: 10000px; */
  background-color: #fff;
}

:root {
  --clr-primary-1: #bb2019;
  --clr-primary-2: #e1e4e8;
}

.header-box {
  margin-top: 20px;
  background-color: var(--clr-primary-1);
  color: #fff;
}

.title-content {
  font-size: 2rem;
  margin-top: 20px;
}

.title-about {
  margin-bottom: 20px;
}

/* HEADER BODY */
.header-body {
  margin-top: 20px;
}
.exam-content {
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 30px;
}
.exam-table {
  max-height: 300px;
  border: 1px solid var(--clr-primary-2);
  border-radius: 3px;
  background-color: #f6f8fa;
}
.table-ticket .ticket-item {
  background-color: #fff;
  border: 1px solid var(--clr-primary-2);
  border-radius: 3px;
  font-size: 0.8rem;
}
.table-title {
  margin-top: 20px;
  font-size: 1.8rem;
  color: #777;
}
.table-finish {
  border: 1px solid var(--clr-primary-2);
  max-width: 114px;
  border-radius: 3px;
  margin: 0px auto;
  text-align: center;
  max-height: 40px;
}
.table-finish:hover {
  color: var(--clr-primary-1);
  background-color: #fff;
}
.exam-time {
  width: 100%;
  text-align: right;
  padding-right: 50px;
  margin-top: 20px;
}
.time {
  color: #666;
  border-radius: 3px;
  padding-left: 20px;
  border: 2px solid var(--clr-primary-1);
}
.exam-answer {
  border: 1px solid var(--clr-primary-2);
  overflow-x: scroll;
  max-height: 600px;
  margin-bottom: 50px;
}
.exam-body {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 20px;
  padding-left: 20px;
  margin-top: 20px;
}
.exam-mark {
  background-color: #f6f8fa;
  border: 1px solid var(--clr-primary-2);
  padding: 0px 15px;
  max-width: 150px;
  max-height: 140px;
  font-size: 0.9rem;
  line-height: 30px;
}
.exam-icon:hover {
  cursor: pointer;
}
.exam-icon.active {
  color: red;
}
.exam-choice {
  background-color: lightcyan;
  padding: 0.8rem 1rem;
}
.exam-questions {
  font-size: 1.1rem;
}
.exam-multiple-choices {
  padding-left: 0.4rem;
  padding-top: 10px;
  font-size: 1rem;
}
.exam-title {
  padding-top: 10px;
}
.exam-button {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.exam-btn {
  border: none;
  border-radius: 2px;
  text-align: center;
  padding: 5px 13px;
  background-color: lightgrey;
}
.next-btn {
  background-color: lightblue;
}

@media (max-width: 992px) {
  .ticket-item span {
    text-align: center;
  }
  .exam-body {
    grid-template-columns: 3fr 9fr;
  }
  .exam-choice {
    overflow-x: scroll;
    overflow-y: scroll;
  }

}
@media (max-width: 768px) {
  .exam-content {
    display: block;
  }
  .exam-table {
    display: none;
  }
  .exam-mark {
    font-size: 0.6rem;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .exam-choice {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 277px;
    max-height: 135px;
  }
  .exam-multiple-choice {
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .done-btn {
    display: block;
    background-color: var(--clr-primary-1);
  }
  .done-btn:hover a {
    color: #fff;
  }
}


.ticket-item.selected {
  background-color: #4caf50;
  color: white;
}


.ticket-item.flagged {
  position: relative; 
}

.ticket-item.flagged::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent red transparent transparent;
}
